/* stylelint-disable max-line-length */
/*
 * Vitamix Typography via Adobe Fonts (Typekit)
 *
 * Primary fonts:
 * - Headings: Sentinel (serif with high contrast)
 * - Body: Gotham Narrow (condensed sans-serif)
 *
 * Using Vitamix's Adobe Fonts project for demo purposes.
 */

@import url('https://use.typekit.net/pqz7ltx.css');
